@use '@/styles/variables.scss' as *;

.MessageList{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

  .Content{
    width: 80%;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    @media (max-width: $mobile-max-width) {
      width: 100%;
    }
  }
}